.Home{
  width: 100%;
  height: 100%;
}
.Title{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(166, 221, 243);
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
