.Nav{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: darkgray;
  position: absolute;
  left: 0px;
  top: 82px;
  min-height: 180px;
  width: 30px;
  cursor: pointer;
}
.Nav:hover{
  width: 150px;
}

.bars{
  position: absolute;
  top: 10px;
}

.opts-btn{
  height: 20px;
  width: 100%;
  margin: 5px;
  border: 2px solid black;
  text-align: center;
}
.opts-btn:hover{
  border: 2px solid black;
  background-color: white;
}